<?xml version="1.0" encoding="utf-8"?>
<configuration>
  <config>
    <add key="globalPackagesFolder" value=".\.nuget"/>
  </config>
  <packageSources>
    <add key="nuget.org" value="https://api.nuget.org/v3/index.json" protocolVersion="3" />
    <add key="Local" value="D:\Repositories\SourceGenerator.Foudations\src\SourceGenerator.Foundations\bin\Debug" />
  </packageSources>
</configuration>